.nav .logo .logo-lifeform {background-image: url("../images/lifeform-spritesheet.png");}




/* home page */
.banner-section {background-color: #fff; background-size: cover; padding: 110px; background-image: url(../images/bg-header2.png); background-repeat: no-repeat; background-position: 100%; background-size: cover;}


.banner-txt-shap {margin-top: 50px; text-align: right; padding: 30px;   background: rgba(255,255,255,0.7);
    box-shadow: 0px 4px  4px rgba(23,129,227,0.1);
    box-shadow: 0px 0px  1px  1px rgba(0,0,0,0.13);}

.banner-txt-shap h1 {font-size: 54px; color: #001155;}
.banner-txt-shap p {text-align: right; color: #333333; font-size: 24px;}
























@media (max-width: 479px)
{
    .nav .logo .logo-type {
        display: block;
    }
}
