/*
h1, h2, h3, h4, h5, h6, p {margin: 0; margin-bottom: 20px; padding: 0; text-align: left; word-wrap: break-word; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

*/
/* Navigation Menu */
.container {
  width: 976px !important;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav .logo .logo_icon {
  height: 40px;
}

.nav .logo .logo_img {
  width: 70px;
}

.nav .logo .logo-lifeform {
  background-image: none;
  background-size: 40px;
}

.nav .logo .logo-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 8px;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
  padding-right: 70px;
  margin: 0;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link {
  color: #001155;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover {
  color: #1781E3;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover .text-underline::before {
  background-color: #1781E3;
  top: 31px;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active {
  color: #1781E3;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active .text-underline::before {
  background-color: #1781E3;
  top: 31px;
}

/* Navigation Responsive */
/* home page */
.main_div {
  padding: 0;
  margin: 80px 0 0 0;
  position: relative;
  overflow-y: hidden;
}

.main_div .font_bold {
  font-weight: 700 !important;
}

.banner-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #f0eff2 url(../images/banner-oval.png) no-repeat center top;
  height: 550px;
  width: 100%;
}

.banner-container .video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.banner-container .video-foreground, .banner-container .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.banner-container .video-background video {
  background: #f0eff2;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.banner-container .banner-blk-div {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 976px;
  top: 80px;
  left: 0;
  max-width: 100%;
  z-index: 1111;
}

.banner-container .banner-blk-div .banner-caption-blk-div {
  margin: 0 auto;
  padding: 0;
  position: relative;
  float: left;
  z-index: 111;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div {
  margin: 0;
  padding: 0;
  position: relative;
  float: right;
  text-align: right;
  width: 416px;
  height: 140px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:after, .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fcfcfc;
  border-width: 10px;
  margin-top: -10px;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ddd;
  border-width: 12px;
  margin-top: -12px;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-2-div {
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
  float: right;
  text-align: right;
  position: relative;
  width: 483px;
  height: 98px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-2-div:after, .banner-container .banner-blk-div .banner-caption-blk-div .box-round-2-div:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-2-div:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fcfcfc;
  border-width: 10px;
  margin-top: -10px;
}

.banner-container .banner-blk-div .banner-caption-blk-div .box-round-2-div:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ddd;
  border-width: 12px;
  margin-top: -12px;
}

.banner-container .banner-blk-div .banner-caption-blk-div h1 {
  color: #001155;
  font-size: 54px;
  font-weight: 700;
  line-height: 140px;
  text-align: center;
}

.banner-container .banner-blk-div .banner-caption-blk-div p {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
  line-height: 32px;
}

.banner-container .banner-blk-div .blu-heart-icon-div {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  float: left;
  left: 40px;
  z-index: 11;
}

.banner-container .banner-blk-div .blu-heart-icon-div img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

.banner-container .banner-path {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 11;
}

.banner-container .banner-path img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 100px;
  text-align: center;
  z-index: 111;
}

.communicate-blu-container {
  background-color: #fff;
  padding: 100px 0 0 0;
  height: 600px;
  background-image: url("../images/communiate-blu-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.communicate-blu-container h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
}

.communicate-blu-container .communicate-txt-div {
  padding: 20px 20px;
  text-align: center;
}

.communicate-blu-container .communicate-txt-div h3 {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.communicate-blu-container .communicate-txt-div p {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.communicate-blu-container .communicate-txt-div p:last-child {
  margin: 0 0 0 0;
}

.communicate-blu-container .content-img {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  width: 100%;
}

.communicate-blu-container .content-img img {
  width: auto;
}

.blu-help-section .blu-help-div {
  padding: 190px 0 100px 0;
  background-color: #eef3f6;
}

.blu-help-section .blu-help-div .heading h2 {
  font-size: 48px;
  text-align: center;
  color: #001155;
  margin-bottom: 120px;
}

.blu-help-section .blu-help-div .blu-help-card-div {
  padding: 0 0 60px 0;
  margin: 0;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box {
  margin-bottom: 16px;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid transparent !important;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box button.link {
  color: #fff;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box:hover, .blu-help-section .blu-help-div .blu-help-card-div .feature-box:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-decoration: none;
  border-bottom: 0;
  color: #fff;
  -webkit-box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  border: none;
  z-index: 9999;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box:hover .div-content, .blu-help-section .blu-help-div .blu-help-card-div .feature-box:focus .div-content {
  padding-top: 00px;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:focus {
  color: #fff;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link {
  background-color: #fff;
  display: inline-block;
  padding: 25px 20px;
  width: 100%;
  border-radius: 6px;
  max-height: 270px;
  position: relative;
  color: #fff;
  z-index: 999;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
  color: #333333;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 20px;
  width: 100%;
  text-transform: capitalize;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content {
  color: #666666;
  height: 245px;
  padding-bottom: 25px;
  max-height: 245px;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  word-break: break-all;
  width: 100%;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content p:last-child {
  margin: 0 0 0px 0;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:hover, .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:focus {
  border-bottom: 1px solid transparent !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 6px;
}

.blu-teams-section .blu-teams-div {
  padding: 100px 0 130px 0;
  background-color: #5944C6;
}

.blu-teams-section .blu-teams-div h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  line-height: 48px;
  font-weight: 300;
}

.blu-teams-section .blu-teams-div .point-steps-list {
  width: 55%;
  margin: 0 auto;
}

.blu-teams-section .blu-teams-div .point-steps-list p {
  color: #fff;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.blu-teams-section .blu-teams-div .point-steps-list p .span-round {
  font-size: 28px;
  height: 45px;
  text-align: center;
  margin-right: 20px;
  width: 45px;
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  line-height: 38px;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(1) {
  -webkit-animation-duration: 1.25s !important;
          animation-duration: 1.25s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(2) {
  -webkit-animation-duration: 2s !important;
          animation-duration: 2s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(3) {
  -webkit-animation-duration: 2.75s !important;
          animation-duration: 2.75s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(4) {
  -webkit-animation-duration: 3.5s !important;
          animation-duration: 3.5s !important;
}

.profile-section .profile-div {
  padding: 135px 0;
}

.profile-section .profile-div .profile-inner-div {
  position: relative;
}

.profile-section .profile-div .profile-left {
  float: left;
  width: 33%;
  height: auto;
  position: relative;
  z-index: 999;
}

.profile-section .profile-div .profile-left img {
  margin-left: 0;
  position: absolute;
  right: -47px;
}

.profile-section .profile-div .profile-left .img-user {
  position: absolute;
  top: 289px;
  right: 45px;
}

.profile-section .profile-div .profile-left .bubbles_div {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
  width: 347px;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #EDB4C6;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-2 {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-3 {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #D1E6F9;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-4 {
  position: absolute;
  top: 90px;
  right: 70px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #97D5D4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-5 {
  position: absolute;
  top: 70px;
  right: 160px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-6 {
  position: absolute;
  top: 120px;
  right: 130px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #AEC6CD;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-7 {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-8 {
  position: absolute;
  top: 150px;
  left: auto;
  right: 200px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #97D5D4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-9 {
  position: absolute;
  top: 150px;
  right: 55px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #B4ABE0;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-10 {
  position: absolute;
  top: 210px;
  right: 100px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-11 {
  position: absolute;
  top: 205px;
  left: 90px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-12 {
  position: absolute;
  top: 210px;
  right: 290px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #ECA0B8;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-13 {
  position: absolute;
  top: 240px;
  right: 24px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #AEC6CD;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-14 {
  position: absolute;
  top: 270px;
  right: 140px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #67C6C5;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-15 {
  position: absolute;
  top: 260px;
  left: 90px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #D1E6F9;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-16 {
  position: absolute;
  top: 300px;
  left: auto;
  right: 270px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  z-index: 221;
  background: #B4ABE0;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-17 {
  position: absolute;
  top: 345px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  z-index: 221;
  background: #A2CDF4;
}

.profile-section .profile-div .profile-left .bubbles_div .bubble-18 {
  position: absolute;
  top: 200px;
  left: 160px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 221;
  background: #D1E6F9;
}

.profile-section .profile-div .profile-right {
  float: right;
  width: 67%;
  right: 0;
  margin-top: -185px;
  background-color: #eef3f6;
  padding: 60px 50px 40px 50px;
  text-align: center;
  border-radius: 5px;
}

.profile-section .profile-div .profile-right .profile-content {
  text-align: center;
}

.profile-section .profile-div .profile-right .profile-content h2 {
  text-align: center;
  font-size: 48px;
  color: #001155;
  line-height: 48px;
}

.profile-section .profile-div .profile-right .profile-content form .border-box {
  display: block;
  width: 100%;
  padding: 20px 8px 10px 8px;
  margin: 0;
  border-bottom: 1px solid #D8D8D8;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .fl-left {
  float: left;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .fl-left .column_box {
  padding: 0;
  margin: 0 0 10px 0;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .fl-left .column_box h4 {
  padding: 0;
  margin: 0 0 8px 0;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  background-color: #eef3f6;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .fl-left .column_box p {
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 16px;
  text-align: left;
  display: block;
  font-weight: 500;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .fl-left .column_box .left_padding {
  padding: 0 0 0 12px;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .link {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .link:hover, .profile-section .profile-div .profile-right .profile-content form .border-box .link:focus {
  border-bottom: 1px solid transparent;
  color: #001155;
  -webkit-transition: none;
  transition: none;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .color-picker {
  text-align: left;
  position: relative;
  float: left;
  display: block;
  font-weight: 400;
  height: 30px;
  width: 30px;
  border-radius: 100% !important;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .color-picker .swatch {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.profile-section .profile-div .profile-right .profile-content form .border-box .color-picker .tooltip {
  padding-left: 50px;
  width: 200px;
  font-size: 16px;
}

.profile-section .profile-div .profile-right .profile-content form .border-box:last-child {
  border-bottom: 0px solid #D8D8D8;
}

.profile-section .profile-div .profile-right .profile-content form .border-one-box {
  padding: 20px 8px 5px 8px;
}

.profile-section .profile-div .profile-right .profile-content form .progress_div {
  padding: 0;
  margin: 0;
}

.profile-section .profile-div .profile-right .profile-content form .progress_div .bar-chart-horizontal--limited {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0px;
}

.profile-section .profile-div .profile-right .profile-content form .progress_div .bar-chart__progress {
  overflow: visible;
  border-radius: 8px;
}

.profile-section .profile-div .profile-right .profile-content form .progress_div .bar-chart__progress .indicator-wrapper:first-child .indicator {
  /* 
                                    border-radius: 0px;
                                    height: 16px;
                                    margin: -4px 0 0 0; 
                                */
}

.profile-section .profile-div .profile-right .profile-content .img-baby {
  margin-top: 50px;
}

.bar-chart-horizontal--limited {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px !important;
}

.bar-chart-horizontal--limited .detail-left {
  display: none;
}

.bar-chart-horizontal--limited .detail-bottom {
  display: none;
}

.bar-chart-horizontal--limited .apple {
  background-color: #1781E3;
}

.animated {
  -webkit-animation-duration: 1.25s !important;
  animation-duration: 1.25s !important;
}

/* inner html css */
.chatbot-concept-section .chatbot-concept-div {
  background-color: #eef3f6;
  padding: 100px 0 0 0;
}

.chatbot-concept-section .chatbot-concept-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
}

.chatbot-concept-section .chatbot-concept-div .concept-row {
  padding: 0 0 80px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box {
  padding: 0 0 20px 0;
  text-align: center;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div {
  padding: 0;
  margin: 0 0 30px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div p {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div p .round_span {
  font-size: 30px;
  height: 45px;
  text-align: center;
  margin-right: 20px;
  width: 45px;
  border-radius: 100%;
  color: #1781E3;
  border: 4px solid #1781E3;
  display: inline-block;
  line-height: 38px;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .details_div {
  padding: 0;
  margin: 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .details_div p {
  color: #333;
  padding: 0 20px 0 0;
  margin: 0 0 20px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div {
  padding: 0;
  margin: 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div img {
  width: 100%;
}

.mb-framework-section .mb-framework-div {
  padding: 100px 0 80px 0;
}

.mb-framework-section .mb-framework-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.mb-framework-section .mb-framework-div .mbf-detailbox {
  padding: 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox h3 {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 300;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox {
  padding: 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul {
  padding: 0 10% 0 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul li {
  padding: 0 0 0 25px;
  margin: 0 0 20px 0;
  line-height: 24px;
  position: relative;
  font-weight: 500;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul li::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 9px;
  width: 9px;
  margin-right: 10px;
  background-color: #1781E3;
  position: absolute;
  top: 7px;
  left: 0;
}

.hl-architecture-section .hl-architecture-div {
  padding: 100px 0 80px 0;
  background-color: #DDE3E7;
  background-image: radial-gradient(circle, #F5F5F5, #DDE3E7);
}

.hl-architecture-section .hl-architecture-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.hl-architecture-section .hl-architecture-div .btn-round {
  display: inline-block;
  padding: 8px 20px;
  background-color: #5944C6;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 0 0 5px 0;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round2 {
  background-color: #E61E64;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round3 {
  background-color: #1781E3;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round4 {
  background-color: #0EABA9;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round5 {
  background-color: #11AAFF;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-70 {
  width: 70%;
  float: right;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
  padding: 0;
  margin: 0 0 -30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  z-index: 22;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .middle-img-thumb {
  padding: 0;
  margin: 0;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .middle-img-thumb img {
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
  padding: 0;
  margin: -30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  z-index: 22;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 40%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb {
  padding: 70px 0 0 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
  width: 230px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow {
  display: inline-block;
  position: absolute;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
  width: 35px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
  left: 25px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
  right: 25px;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
  padding: 50px 0 0 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  z-index: 22;
  position: relative;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round {
  text-align: right;
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round.btn-70 {
  width: 70%;
}

.hl-architecture-section .hl-architecture-div .bottom_title_div {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
  margin: 0 0;
  padding: 0;
  font-size: 32px;
  color: #001155;
  text-align: center;
  font-weight: 500;
}

.luis-section .luis-div {
  padding: 100px 0 80px 0;
}

.luis-section .luis-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 50px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 48px;
}

.luis-section .luis-div .luis-detailbox {
  padding: 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox {
  padding: 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 24px;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox p .span_block {
  display: block;
}

.luis-section .luis-div .luis-detailbox-right {
  padding: 45px 30px 45px 30px;
  margin: 0;
  background-color: #1781E3;
  border-radius: 6px;
}

.luis-section .luis-div .luis-detailbox-right .luis-img {
  padding: 8px 0 35px 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox-right .luis-img .img-responsive {
  width: 100%;
  border-radius: 6px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt h4 {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 24px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt p {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt p:last-child {
  margin: 0 0 0 0;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt .fontweight-700 {
  font-weight: 700 !important;
}

/* contact us */
.feedback-section .feedback-div {
  padding: 100px 0 80px 0;
}

.feedback-section .feedback-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.feedback-section .feedback-div .feedback-detailbox {
  padding: 0 15% 0 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-detailbox h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox {
  padding: 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 24px;
  font-weight: 500;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox p .span_block {
  display: block;
}

.feedback-section .feedback-div .feedback-form-div {
  padding: 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-form-div .form-group-div {
  padding: 0;
  margin: 0 0 15px 0;
}

.feedback-section .feedback-div .feedback-form-div .form-group-div .textarea_feedback {
  width: 100%;
  height: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  padding: 20px;
  resize: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.feedback-section .feedback-div .feedback-form-div .btn-send-div .btn-send {
  float: right;
  padding: 12px 50px;
  background-color: #1781E3;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback-section .feedback-div .feedback-form-div .btn-send-div .btn-send:hover {
  background-color: #5944C6;
}

.feedback-section .feedback-div .success_div {
  padding: 0;
  margin: 0;
  display: none;
  visibility: visible;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.feedback-section .feedback-div .success_div .img-responsive {
  width: 100%;
}

.hide_div {
  display: none;
  visibility: visible;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.show_div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.team-section .team-div {
  padding: 100px 0 80px 0;
  background-color: #eef3f6;
}

.team-section .team-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.team-section .team-div .team-img-div {
  padding: 0;
  margin: 0;
}

.team-section .team-div .team-img-div .img-team {
  width: 100%;
}

.contact-section .contact-div {
  padding: 110px 0 100px 0;
}

.contact-section .contact-div h2 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.contact-section .contact-div .contact-center {
  padding: 0;
  margin: 0;
}

.contact-section .contact-div .contact-center .row_div {
  padding: 0;
  margin: 0;
  width: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-div .contact-center .row_div a.link-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #1781E3;
  padding: 0 0 10px 0;
  min-width: 305px;
  text-align: center;
}

.contact-section .contact-div .contact-center .row_div a.link-div .contact_txt {
  margin-left: 20px;
  font-weight: 500;
}

/* End of contact us */
@media (max-width: 767px) {
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link .text-underline:before {
    background-color: transparent;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover .text-underline::before {
    background-color: transparent;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active .text-underline::before {
    background-color: transparent;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: visible;
    /* add menu here */
  }
  .nav .logo {
    margin-top: 20px;
  }
  .nav .logo .logo-lifeform {
    background-image: url("../images/logo_animated.gif");
  }
  .nav .logo .logo-lifeform .logo_icon {
    height: 39px;
  }
  .nav .logo .logo-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .logo .logo_img {
    width: 60px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
    padding-right: 0px;
  }
  .nav .nav__mainnav {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    padding: 0 20px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open {
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 80px 0 0px 0;
    background: #11AAFF url("../images/background_mobile.png");
    background-size: cover;
    visibility: visible;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    padding: 0 0 50px 0;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item {
    margin: 0 0 10px 0;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link {
    height: 100%;
    padding: 10px 30px 10px 25px;
    display: inline-block !important;
    color: #fff;
    border: none;
    visibility: visible;
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link:hover:before {
    content: "";
    -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF;
    box-shadow: 0px 0px 55px 9px #FFFFFF;
    position: absolute;
    height: 0px;
    width: 65%;
    top: 24px;
    left: 18px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link.nav-link--active:before {
    content: "";
    -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF;
    box-shadow: 0px 0px 55px 9px #FFFFFF;
    position: absolute;
    height: 0px;
    width: 65%;
    top: 25px;
    left: 18px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link.nav-link--active .text-underline::before {
    background-color: transparent !important;
  }
  .main_div {
    margin: 80px 0 0 0;
  }
  .banner-container {
    background-position: 50% 50%;
    height: 330px;
  }
  .banner-container .video-background video {
    position: absolute;
    top: 50%;
    left: 10%;
    width: auto;
    height: 400px;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }
  .banner-container .video-background {
    width: 100%;
  }
  .banner-container .banner-blk-div {
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div {
    float: none;
    left: 0;
    margin: 0 auto;
    text-align: center;
    top: 40px;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div img {
    width: 40%;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    position: absolute;
    bottom: -20px;
    width: 100%;
    float: none;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div {
    width: 90%;
    height: auto;
    line-height: normal;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div h1 {
    font-size: 40px;
    line-height: normal;
    padding: 20px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:before, .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:after {
    left: 45%;
    top: 1px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    margin-top: -21px;
    border-width: 10px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div .box-round-1-div:after {
    margin-top: -19px;
    border-width: 10px;
    border-left-color: rgba(255, 255, 255, 0.7);
  }
  .banner-container .banner-path {
    width: 100%;
    left: 0;
    right: auto;
    overflow: hidden;
  }
  .banner-container .banner-path img {
    width: 550px;
    left: -140px !important;
  }
  .box-round-2-div {
    display: none;
  }
  .communicate-blu-container {
    padding: 60px 0 0px 0;
    background-position: bottom center;
    height: 100%;
    background-size: 100% 50%;
  }
  .communicate-blu-container h2 {
    font-size: 28px;
    width: 70%;
    margin: 0 auto 30px auto;
  }
  .communicate-blu-container .communicate-txt-div {
    padding: 0px 0px;
    margin: 0 0 40px 0;
  }
  .communicate-blu-container .content-img {
    top: 80px;
    width: 100%;
    position: relative;
    margin: -70px 0 0 0;
  }
  .communicate-blu-container .content-img img {
    width: 100%;
  }
  .blu-help-section .blu-help-div {
    padding: 120px 0 0px 0;
  }
  .blu-help-section .blu-help-div .heading h2 {
    font-size: 28px;
    width: 70%;
    margin: 0 auto 30px auto;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box {
    margin-bottom: 10px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link {
    max-height: 197px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content {
    height: 197px;
    padding-bottom: 20px;
    max-height: 197px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .blu-teams-section .blu-teams-div {
    padding: 60px 0 60px 0;
  }
  .blu-teams-section .blu-teams-div h2 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .blu-teams-section .blu-teams-div .point-steps-list {
    width: 95%;
    padding: 10px 0 0 0;
  }
  .blu-teams-section .blu-teams-div .point-steps-list p {
    font-size: 18px;
  }
  .blu-teams-section .blu-teams-div .point-steps-list p span {
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 34px;
  }
  .profile-section .profile-div {
    padding: 0px 0;
    background-color: #eef3f6;
  }
  .profile-section .profile-div .profile-left {
    display: none;
  }
  .profile-section .profile-div .profile-right {
    float: none;
    width: 100%;
    right: auto;
    margin-top: 60px;
    padding: 0px;
    border-radius: 0px;
  }
  .profile-section .profile-div .profile-right .profile-content {
    text-align: center;
  }
  .profile-section .profile-div .profile-right .profile-content h2 {
    font-size: 28px;
    font-size: 28px;
    width: 70%;
    margin: 0 auto 10px auto;
  }
  .profile-section .profile-div .profile-right .profile-content form .border-box {
    padding: 20px 0px 10px 0px;
  }
  .profile-section .profile-div .profile-right .profile-content form .border-box .color-picker {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .profile-section .profile-div .profile-right .profile-content .img-baby {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-baby img {
    width: 50px;
    float: left;
  }
  .profile-section .profile-div .profile-right .profile-content .img-student {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-student img {
    width: 88px;
  }
  .profile-section .profile-div .profile-right .profile-content .img-nerd {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-nerd img {
    width: 88px;
  }
  /* inner html */
  .chatbot-concept-section .chatbot-concept-div {
    padding: 60px 0 10px 0;
  }
  .chatbot-concept-section .chatbot-concept-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .chatbot-concept-section .chatbot-concept-div .concept-row {
    padding: 0 0 50px 0;
  }
  .chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div {
    margin: 0 auto;
    text-align: center;
  }
  .chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div .img-responsive {
    width: 80%;
  }
  .mb-framework-section .mb-framework-div {
    padding: 60px 0 40px 0;
  }
  .mb-framework-section .mb-framework-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox {
    padding: 0;
    margin: 0;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox ul {
    padding: 0 0px 0 0 !important;
    margin: 0;
  }
  .hl-architecture-section .hl-architecture-div {
    padding: 60px 0 40px 0;
  }
  .hl-architecture-section .hl-architecture-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .hl-architecture-section .hl-architecture-div .btn-round {
    padding: 0px 0px;
    font-size: 8px;
    line-height: 20px;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
    margin: 0 0 -15px 0;
    width: 55%;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
    margin: -15px 0 0 0;
    width: 55%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
    width: 15px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
    left: 10px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
    right: 10px;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
    width: 100%;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round {
    text-align: right;
    width: 100%;
    padding: 0 7px;
  }
  .hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
    font-size: 11px;
  }
  .luis-section .luis-div {
    padding: 60px 0 0px 0;
  }
  .luis-section .luis-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .luis-section .luis-div .luis-img {
    margin: 0;
    line-height: 0px;
  }
  .luis-section .luis-div .luis-img .img-responsive {
    border-radius: 0px;
  }
  .luis-section .luis-div .luis-detailbox-right {
    padding: 39px 24px 45px 24px;
    margin: 0 -24px;
    background-color: #1781E3;
    border-radius: 0px;
  }
  /* contact us */
  .feedback-section .feedback-div {
    padding: 60px 0 60px 0;
  }
  .feedback-section .feedback-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .feedback-section .feedback-div .feedback-detailbox {
    padding: 0 0% 0 0;
  }
  .team-section .team-div {
    padding: 60px 0 60px 0;
  }
  .team-section .team-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .team-section .team-div .team-img-div {
    margin: 0 -24px;
  }
  .contact-section .contact-div {
    padding: 60px 0 60px 0;
  }
  .contact-section .contact-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 20px auto;
  }
  /* End of contact us */
  /* end of inner html */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav .logo {
    margin-left: 4px;
    margin-right: 70px;
    margin-top: 22px;
  }
  .profile-section .profile-right {
    padding: 40px 25px;
  }
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* add menu here */
  }
  .nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
    padding-right: 30px;
  }
  .banner-container .video-background {
    width: 100%;
  }
  .banner-container .video-background video {
    left: 60%;
    height: 400px;
  }
  .banner-container .banner-blk-div {
    width: 100%;
    left: 0;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 65%;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div {
    left: 40px;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div img {
    width: 175px;
  }
  .banner-container .banner-path {
    width: 100%;
    left: 0;
    right: auto;
    overflow: hidden;
  }
  .banner-container .banner-path img {
    width: 860px;
    left: -90px !important;
  }
  .main_div {
    margin: 80px 0 0 0;
  }
  .communicate-blu-container .communicate-txt-div {
    padding: 0px 12px;
    margin: 0 0 40px 0;
  }
  .communicate-blu-container .content-img {
    top: 00px;
    width: 100%;
    position: relative;
    margin: 0px 0 0 0;
  }
  .communicate-blu-container .content-img img {
    width: 100%;
  }
  .blu-help-section .blu-help-div {
    padding: 100px 0 100px 0;
  }
  .blu-help-section .blu-help-div .heading h2 {
    margin: 0 auto 60px auto;
  }
  .blu-help-section .blu-help-div .blu-help-card-div {
    padding: 0 12px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box {
    margin-bottom: 10px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .blu-teams-section .blu-teams-div {
    padding: 100px 0 100px 0;
  }
  .blu-teams-section .blu-teams-div h2 {
    margin: 0 auto 50px auto;
  }
  .blu-teams-section .blu-teams-div .point-steps-list {
    width: 70%;
    padding: 10px 0 0 0;
  }
  .profile-section .profile-div {
    padding: 0px 12px;
    background-color: #eef3f6;
  }
  .profile-section .profile-div .profile-left {
    display: none;
  }
  .profile-section .profile-div .profile-right {
    float: none;
    width: 100%;
    right: auto;
    margin-top: 80px;
    padding: 0px;
    border-radius: 0px;
  }
  .profile-section .profile-div .profile-right .profile-content h2 {
    margin: 0 0 30px 0;
  }
  /* inner html */
  .chatbot-concept-section .chatbot-concept-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb-framework-section .mb-framework-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox {
    padding: 0;
    margin: 0;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox ul {
    padding: 0 0% 0 0 !important;
    margin: 0;
  }
  .hl-architecture-section .hl-architecture-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .hl-architecture-section .hl-architecture-div .btn-round {
    padding: 2px 10px;
    font-size: 13px;
    line-height: 28px;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
    margin: 0 0 -20px 0;
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
    margin: -20px 0 0 0;
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
    width: 60%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
    width: 30px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
    left: 15px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
    right: 15px;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
    width: 100%;
  }
  .hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
    font-size: 24px;
  }
  .luis-section .luis-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .luis-section .luis-div .luis-detailbox-right {
    padding: 45px 20px 45px 20px;
  }
  /* contact us */
  .feedback-section .feedback-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .team-section .team-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .contact-section .contact-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* End of contact us */
  /* end of inner html */
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .container {
    width: 976px !important;
  }
  .banner-container .banner-blk-div {
    top: 80px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 60%;
  }
  .banner-container .banner-path {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1290px) {
  .banner-container .banner-blk-div {
    top: 80px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 50%;
  }
  .banner-container .banner-path {
    overflow: hidden;
  }
}

@-webkit-keyframes slideInDown10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0;
  }
}

@keyframes slideInDown10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0;
  }
}

.slideInDown10 {
  -webkit-animation-name: slideInDown10;
          animation-name: slideInDown10;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 5.25s !important;
          animation-duration: 5.25s !important;
}

/*

@-webkit-keyframes slideInDown10 {
    from {
        top:-50px;
        transition: top 50s ease-in-out;
    }

    to {
        top:0;
        transition: top 50s ease-in-out;
    }
  }
  
  @keyframes slideInDown10 {
    from {
      top:-50px;
      transition: top 150s ease-in-out;
    }
  
    to {
      top:0;
      transition: top 150s ease-in-out;
    }
  }
  
  .slideInDown10 {
    -webkit-animation: slideInDown10 170s infinite linear; 
     animation: slideInDown10 170s infinite linear;    
  } */
/*# sourceMappingURL=style.css.map */