    $heading-color: #001155;
$nav-color: #001155;
$navi-blue-color: #001155;
$text-color: #333333;
$text-666666: #666666;
$bg-white: #fff;
$bg-light-green: #eef3f6;
$blue-color:#1781E3;
$bg-light-color1:#F5F5F5;
$bg-light-color2:#DDE3E7;

$bodrer-color1:#D6D6D6;


$btn-bgcolor1:#5944C6;
$btn-bgcolor2:#E61E64;
$btn-bgcolor3:#1781E3;
$btn-bgcolor4:#0EABA9;
$btn-bgcolor5:#11AAFF;


/*
h1, h2, h3, h4, h5, h6, p {margin: 0; margin-bottom: 20px; padding: 0; text-align: left; word-wrap: break-word; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

*/

// .major-wrapper{ overflow-x:hidden; }

/* Navigation Menu */

.container {width: 976px!important;}


.nav{
    position: fixed; width: 100%; top:0;
    .logo {
        .logo_icon { height: 40px; }
        .logo_img{ width: 70px; }
        .logo-lifeform {background-image: none;background-size: 40px; }
        .logo-type{ display: flex;align-items: center;padding: 0 0 0 8px; }
    }
    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                padding-right: 70px; margin: 0;
                .nav-link{ color:$nav-color; }
                .nav-link{ 
                    &:hover{  
                        color: $blue-color;
                        .text-underline::before{ background-color:$blue-color; top:31px;}
                        
                    }
                 }
                .nav-link--active{ 
                    color: $blue-color;
                    .text-underline::before{ background-color:$blue-color; top:31px;}
                 }
             }

        }
    } 
}

/* Navigation Responsive */

/* home page */

.main_div{ 
    padding: 0;margin: 80px 0 0 0;position: relative;overflow-y: hidden; 
    .font_bold{ font-weight: 700!important; }
}

.banner-container {
    margin: 0 auto; padding: 0; position: relative; background: #f0eff2 url(../images/banner-oval.png) no-repeat center top;  height: 550px; width: 100%;

    .video-background { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; width: 100%; max-width: 1920px; height: 100%; overflow: hidden; margin: 0 auto; }
    .video-foreground, .video-background iframe { position: absolute; top: 0; left: 0; width: 100%; max-width: 100%; height: 100%; }
    .video-background video {  background: #f0eff2; position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); background-size: cover; transition: 1s opacity; 
       
    }

    .banner-blk-div {
        margin: 0 auto; padding: 0; position: relative; width: 976px; top:80px; left:0;  max-width:100%; z-index: 1111; 
        .banner-caption-blk-div {
            margin: 0 auto; padding: 0; position: relative; float: left; z-index: 111;
            .box-round-1-div {
                margin: 0; padding: 0; position: relative; float: right;  text-align: right; width: 416px; height: 140px;  display: block; background-color:rgba(255,255,255,0.7); border:0; box-shadow: 0 0 1px 1px rgba(0,0,0,0.13);border-radius:5px;
                &:after, &:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
                &:after { border-color: rgba(255, 255, 255, 0); border-left-color: rgba(252, 252, 252, 1); border-width: 10px; margin-top: -10px; }
                &:before { border-color: rgba(0, 0, 0, 0); border-left-color: #ddd; border-width: 12px; margin-top: -12px; }
            }
            .box-round-2-div {
                clear:both; margin: 20px 0 0 0; padding: 0; float: right;  text-align: right; position: relative; width: 483px; height: 98px; background-color:rgba(255,255,255,0.7); border:0; box-shadow: 0 0 1px 1px rgba(0,0,0,0.13);border-radius:5px;
                &:after, &:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
                &:after { border-color: rgba(255, 255, 255, 0); border-left-color: rgba(252, 252, 252, 1); border-width: 10px; margin-top: -10px; }
                &:before { border-color: rgba(0, 0, 0, 0); border-left-color: #ddd; border-width: 12px; margin-top: -12px; }
            }
            h1 { color:$navi-blue-color; font-size: 54px; font-weight: 700;  line-height: 140px; text-align: center;}
            p { color:#333; font-size: 24px; font-weight:500; text-align: right; vertical-align: middle; margin: 0; padding: 20px; line-height: 32px; }
        }
        .blu-heart-icon-div {
            margin: 0 auto; padding: 0; position: relative; text-align: center; float: left; left:40px; z-index: 11;
            img {margin: 0 auto; padding: 0; position: relative; text-align: center;}
        }        
    }
    .banner-path { 
        margin: 0 auto; padding: 0; position: absolute; bottom:-5px; right:0; width:100%; text-align: center; z-index: 11;
        img {margin: 0 auto; padding: 0; position: relative; left:100px; text-align: center; z-index: 111;}
    }
}

.communicate-blu-container {
    background-color: $bg-white; padding: 100px 0 0 0; height: 600px; background-image: url('../images/communiate-blu-bg.png'); background-repeat: no-repeat; background-position: center; background-size: cover;
    h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;}
    .communicate-txt-div
    {
        padding: 20px 20px; text-align: center; 
        h3 {font-size: 24px;color: $text-color; font-weight: 500;margin: 0 0 30px 0; }
        p {font-size: 18px; color: $text-color; font-weight: 400;margin: 0 0 30px 0;
            &:last-child{ margin:0 0 0 0; }
        }
        
    }
    .content-img {
        position: absolute; justify-content: center; align-items: center; align-content: center; display: flex; flex-direction: column;top: 20px ;width: 100%;
        img {width: auto; }
    }

}

.blu-help-section {
    .blu-help-div { 
        padding: 190px 0 100px 0; background-color: $bg-light-green;
        .heading { h2 {font-size: 48px; text-align: center; color: $heading-color; margin-bottom: 120px;} }

        .blu-help-card-div{ 
            padding: 0 0 60px 0;margin:0;
            .feature-box {   
                margin-bottom: 16px;position: relative;z-index: 9;border-bottom: 1px solid transparent!important;
                button.link{ color:#fff;}
                &:hover, &:focus{ 
                    transform: scale(1.05); text-decoration: none; border-bottom: 0; color: #fff; -webkit-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); -moz-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); box-shadow: 0px 0px 60px 2px rgba(74,144,226,0.3);border:none;z-index: 9999;
                    .div-content { padding-top: 00px; }
                }
                a.fb-box-link:focus { color:#fff;}
                a.fb-box-link { 
                    background-color: #fff;display: inline-block;padding: 25px 20px;width: 100%;border-radius: 6px;max-height:270px;position: relative;color:#fff;z-index: 999;
                    h3 { color: $text-color; font-weight: 500; font-size: 40px; line-height: 48px; position: absolute; top: 20px;left: 0;padding-left: 20px; width: 100%;text-transform: capitalize; }
                    
                    .div-content {
                        color: $text-666666; height: 245px; padding-bottom:25px; max-height: 245px; -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;    display: flex; align-items: flex-start; flex-direction: column; justify-content: flex-end;
                        p { 
                            margin:0 0 20px 0;font-size: 16px;font-weight: 500;word-break: break-all;width: 100%; 
                            &:last-child{ margin:0 0 0px 0; }
                         }
                    }
                    &:hover, &:focus{ border-bottom: 1px solid transparent!important;transform: scale(1.05);border-radius: 6px; }
                    -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;
                }
    
            }
        }

    }
}

.blu-teams-section {
    .blu-teams-div {
        padding: 100px 0 130px 0; background-color: #5944C6; 
        h2 { color: #fff; text-align: center; font-size: 50px; margin-bottom: 60px; line-height: 48px; font-weight: 300; }
    
        .point-steps-list { width: 55%;margin:0 auto;
            p {color: #fff; font-size: 28px;    display: flex; align-items: center;font-weight:500;
            .span-round {font-size: 28px; height: 45px; text-align: center; margin-right: 20px; width: 45px; border-radius: 100%; border: 4px solid #fff; display: inline-block;line-height: 38px; }
                &:nth-child(1){ animation-duration: 1.25s !important; }
                &:nth-child(2){ animation-duration: 2s !important; }
                &:nth-child(3){ animation-duration: 2.75s !important; }
                &:nth-child(4){ animation-duration: 3.5s !important; }
            }
        }
    }
}


.profile-section {
    .profile-div{
        padding: 135px 0;
        .profile-inner-div { position: relative; }
        
        .profile-left { 
            float: left; width: 33%; height: auto; position: relative; z-index: 999;
            img { margin-left: 0; position: absolute; right: -47px; }
            .img-user { position: absolute; top: 289px; right: 45px; }
            .img-bubbles{  }

            .bubbles_div { margin: 0; padding:0; position: relative; z-index: 100; width: 347px; 
                
                .bubble-1 { position: absolute; top:0; right:0; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#EDB4C6; }
                .bubble-2 { position: absolute; top:40px; right:40px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4; }
                .bubble-3 { position: absolute; top:80px; right:0px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#D1E6F9; }
                .bubble-4 { position: absolute; top:90px; right:70px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#97D5D4; }
                .bubble-5 { position: absolute; top:70px; right:160px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4; }
                .bubble-6 { position: absolute; top:120px; right:130px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#AEC6CD; }
                .bubble-7 { position: absolute; top:120px; left:40px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4; }
                .bubble-8 { position: absolute; top:150px; left:auto;right:200px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#97D5D4; }
                .bubble-9 { position: absolute; top:150px; right:55px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#B4ABE0; }
                .bubble-10{ position: absolute; top:210px; right:100px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4;}
                .bubble-11{ position: absolute; top:205px; left:90px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4;  }
                .bubble-12{ position: absolute; top:210px; right:290px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#ECA0B8;}
                .bubble-13{ position: absolute; top:240px; right:24px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#AEC6CD; }
                .bubble-14{ position: absolute; top:270px; right:140px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#67C6C5; }
                .bubble-15{ position: absolute; top:260px; left:90px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#D1E6F9; }
                .bubble-16{ position: absolute; top:300px; left:auto;right:270px;  width:22px; height:22px; border-radius: 100px; z-index: 221; background:#B4ABE0; }
                .bubble-17{ position: absolute; top:345px; left:15px; width:14px; height:14px; border-radius: 100px; z-index: 221; background:#A2CDF4; }
                .bubble-18{ position: absolute; top:200px; left:160px; width:26px; height:26px; border-radius: 100px; z-index: 221; background:#D1E6F9; }
            }
        }
        .profile-right {
            float: right; width: 67%; right: 0; margin-top: -185px; background-color: $bg-light-green; padding: 60px 50px 40px 50px; text-align: center;border-radius:5px;
            
            .profile-content {
                text-align: center;
                h2 {text-align: center; font-size: 48px; color: $heading-color;line-height: 48px; }
                form {
                    
                    .border-box { 
                        display: block; width: 100%; padding: 20px 8px 10px 8px; margin: 0; border-bottom: 1px solid #D8D8D8; 
                        .fl-left{ 
                            float: left; 
                            .column_box{
                                padding: 0;margin:0 0 10px 0;
                                h4{ padding: 0;margin: 0 0 8px 0; color: $text-color;font-size: 24px; font-weight: 500; text-align: left; background-color:  $bg-light-green; }
                                p { padding: 0;margin: 0;color: $text-color; font-size: 16px; text-align: left; display: block; font-weight: 500; }
                                .left_padding{ padding: 0 0 0 12px; }
                            }
                        }

                        .link { display: block; text-align: left; margin-top: 10px;font-size:16px;font-weight:500;
                            &:hover, &:focus{ border-bottom: 1px solid transparent; color: #001155; transition: none; }
                        }
                        
                        .color-picker { 
                            text-align: left; position: relative; float: left; display: block; font-weight: 400; height: 30px; width: 30px; border-radius: 100% !important;
                            .swatch {width: 30px; height: 30px; border-radius: 50px; display: inline-block; text-align: left; margin-top: 10px;}
                            .tooltip {padding-left: 50px; width: 200px; font-size: 16px;}
                        }

                        &:last-child{  border-bottom: 0px solid #D8D8D8;  }


                    }   

                    .border-one-box{ padding: 20px 8px 5px 8px; }
                    
                    .progress_div{ padding: 0;margin: 0;
                        .bar-chart-horizontal--limited{ box-shadow: none;margin-bottom: 0px; }
                        .bar-chart__progress{ overflow: visible;border-radius: 8px;
                            .indicator-wrapper:first-child .indicator {
                                /* 
                                    border-radius: 0px;
                                    height: 16px;
                                    margin: -4px 0 0 0; 
                                */
                            }
                        }
                    }
    
                }

                .img-baby {  margin-top: 50px; }

                
            }

        }
    }
}

.bar-chart-horizontal--limited {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px !important;
    
    .detail-left {
        display: none;
    }
    .detail-bottom {
        display: none;
    }
    .apple {
        background-color: #1781E3;
    }
}

.animated {
    -webkit-animation-duration: 1.25s !important;
    animation-duration: 1.25s !important;
}

/* inner html css */

.chatbot-concept-section {
    .chatbot-concept-div{
        background-color: $bg-light-green; padding: 100px 0 0 0;
        
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;}

        .concept-row{ padding: 0 0 80px 0; }
        
        .cc_content_box
        {
            padding: 0 0 20px 0; text-align: center; 
            .heading_div{ 
                padding: 0;margin: 0 0 30px 0;
                p { 
                    color: #333; font-size: 24px;font-weight:500;
                    .round_span { font-size: 30px; height: 45px; text-align: center; margin-right: 20px; width: 45px; border-radius: 100%; color: #1781E3;  border: 4px solid #1781E3; display: inline-block; line-height: 38px; }
                }
            }
            .details_div{ 
                padding: 0;margin: 0;
                p{ color: #333; padding: 0 20px 0 0;margin: 0 0 20px 0; }
            }

        }
        
        .cc_content_img { display: flex;align-items: center;justify-content: center;height: 100%;
            .img_thumb_div{ padding: 0;margin: 0;
                img{ width: 100%; }
             }
        }
       
    }
}

.mb-framework-section {
    .mb-framework-div{
        padding: 100px 0 80px 0;
        
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }

        .mbf-detailbox {
            padding: 0;margin: 0;
            h3{ padding: 0;margin: 0 0 40px 0;font-size: 24px; color:$text-color;font-weight: 300;}
            .mbf-detail-listbox{ 
                padding: 0;margin: 0; 
                ul{ 
                    padding: 0 10% 0 0;margin: 0; 
                    li{
                        padding: 0 0 0 25px;margin: 0 0 20px 0; line-height: 24px;position: relative;font-weight:500;
                        &::before { display: inline-block; content: ""; border-radius:100%; height: 9px; width: 9px; margin-right: 10px; background-color: $blue-color; position: absolute; top: 7px; left: 0; }
                    }
                }
            }
        }
        
    }
}

.hl-architecture-section {
    .hl-architecture-div{
        padding: 100px 0 80px 0; background-color: $bg-light-color2;background-image: radial-gradient(circle, $bg-light-color1, $bg-light-color2);
        
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }
        .btn-round { display: inline-block; padding: 8px 20px; background-color: $btn-bgcolor1; color: #fff; border-radius: 20px; text-align: center; margin: 0 0 5px 0; }
        .btn-round.btn-round2 { background-color: $btn-bgcolor2;  }
        .btn-round.btn-round3 { background-color: $btn-bgcolor3;  }
        .btn-round.btn-round4 { background-color: $btn-bgcolor4;  }
        .btn-round.btn-round5 { background-color: $btn-bgcolor5;  }
        .btn-round.btn-70 { width: 70%;float: right; }
        
        .left-architecture-div{ 
            padding: 0 0 100px 0;margin: 0;width: 30%;float: left;height:100%;position: relative;
            .top-left-div{ padding: 0; margin: 0 0 -30px 0; display: flex; flex-direction: column;width: 50%;z-index: 22;position: relative; }
            .middle-img-thumb{ 
                padding: 0;margin: 0; 
                img{ width: 100%; }
            }
            .bottom-left-div{ padding: 0; margin: -30px 0 0 0; display: flex; flex-direction: column;width: 50%;z-index: 22;position: relative; }
        }

        .middle-architecture-div{ 
            padding: 0 0 100px 0;margin: 0;width: 40%;float: left;height:100%;position: relative;
            .middle-img-thumb{ 
                padding: 70px 0 0 0;margin: 0;height: 100%;display: flex; align-items: center; justify-content: center;
                img.img-responsive{ width: 230px; }
                .span-arrow{ 
                    display: inline-block;position: absolute;
                    img{ width: 35px; }
                 }
                .span-arrow-left{ left:25px; }
                .span-arrow-right{ right: 25px; }
            }
        }

        .right-architecture-div{ 
            padding: 0 0 100px 0;margin: 0;width: 30%;float: left;height:100%;position: relative;
            .middle-img-thumb{ 
                padding: 50px 0 0 0 ; margin: 0 0 0px 0; display: flex; flex-direction: column;width: 60%;z-index: 22;position: relative; height: 100%;justify-content: center;align-items:flex-end;
                .btn-round{ text-align: right;width: 100%; }
                .btn-round.btn-70{ width: 70%; }
            }
        }

        .bottom_title_div{ padding: 0; margin: 0; position: absolute; bottom: 0; width: 100%;
            .title_bottom{ margin: 0 0; padding: 0; font-size: 32px; color:$heading-color; text-align: center;font-weight: 500;  }
        }
    }
}    

.luis-section {
    .luis-div{
        padding: 100px 0 80px 0;
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 50px; color:$heading-color; text-align: center;font-weight: 300;line-height: 48px;  }
        .luis-detailbox {
            padding: 0;margin: 0;
            h3{ padding: 0;margin: 0 0 20px 0;font-size: 24px; color:$text-color;font-weight: 500; }
            .luis-detail-listbox{ 
                padding: 0;margin: 0; 
                p{ margin: 0 0 25px 0;padding: 0; line-height: 24px;font-weight:500;
                    .span_block{ display: block; }
                }
            }
        }
        .luis-detailbox-right{ 
            padding: 45px 30px 45px 30px;margin: 0;background-color: #1781E3;border-radius:6px;
            .luis-img{ padding: 8px 0 35px 0;margin: 0; 
                .img-responsive{ width: 100%;border-radius: 6px; }
            } 
            .luis_bottom_txt{ 
                padding: 0;margin: 0;font-weight: 500;
                h4{  padding: 0;margin: 0 0 30px 0;font-weight: 500;color: #FFFFFF;font-size: 24px;}
                p{  
                    padding: 0;margin: 0 0 30px 0;font-weight: 500;color: #FFFFFF;font-size: 18px;line-height: 24px;
                    &:last-child{ margin: 0 0 0 0; }
                 }
                 .fontweight-700{ font-weight: 700!important; }
            }
        }
        
    }
}

/* contact us */

.feedback-section {
    .feedback-div{
        padding: 100px 0 80px 0;
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }
        .feedback-detailbox {
            padding: 0 15% 0 0;margin: 0;
            h3{ padding: 0;margin: 0 0 20px 0;font-size: 24px; color:$text-color;font-weight: 500; }
            .feedback-detail-listbox{ 
                padding: 0;margin: 0; 
                p{ margin: 0 0 25px 0;padding: 0; line-height: 24px;font-weight:500;
                    .span_block{ display: block; }
                }
            }
        }
        .feedback-form-div{  
            padding: 0;margin: 0; 
            .form-group-div{ 
                padding: 0;margin: 0 0 15px 0; 
                .textarea_feedback{ width: 100%; height: 100%; border: 1px solid $bodrer-color1; border-radius: 5px; padding: 20px; resize: none; box-shadow: none; }
            }
            .btn-send-div{
                .btn-send {  
                    float: right;  padding: 12px 50px; background-color: $blue-color;  border-radius: 5px;  color: $bg-white; transition: all 0.3s ease-in-out;
                    &:hover{ background-color: $btn-bgcolor1; }
                }
                
            }
        }

        .success_div{ 
            padding: 0;margin: 0;display: none;visibility: visible; animation-name: fadeIn; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
            .img-responsive{ width: 100%; }
        }

    }
}

.hide_div{ display: none; visibility: visible; animation-name: fadeOut; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;-webkit-animation-delay: 1s;animation-delay: 1s;  }
.show_div{ display: flex!important; }

.team-section {
    .team-div{
        padding: 100px 0 80px 0;background-color:$bg-light-green;
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }
        .team-img-div{ 
            padding: 0;margin: 0; 
            .img-team{ width: 100%; }
        }
    }
}  

.contact-section {
    .contact-div{
        padding: 110px 0 100px 0;
        h2{ margin: 0 0 20px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }
        .contact-center{ 
            padding: 0;margin: 0; 
            .row_div{ 
                padding: 0;margin: 0; width: auto; width: auto;display: flex; justify-content: center;
                a.link-div{ 
                    display: flex;font-size:24px;color:$blue-color;padding:0 0 10px 0;min-width:305px;text-align:center;
                    .contact_txt{ margin-left: 20px;font-weight: 500; }
                 }
            }
        }
    }
}  



/* End of contact us */

@media (max-width: 767px)
{
    
    .major-wrapper{ overflow-y: hidden; }

    .container { width: auto !important; }

    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                .nav-link{ 
                        .text-underline:before{ background-color:transparent; }
                 }
                .nav-link{ 
                    &:hover{  
                        .text-underline::before{ background-color:transparent; }
                        
                    }
                 }
                .nav-link--active{ 
                    .text-underline::before{ background-color:transparent; }
                 }
             }
        }
    } 

    .nav {
        position: fixed;
        top: 0;width: 100%;
        visibility: visible; 
        // animation-name: fadeInLeft; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;

        .logo { 
            margin-top: 20px;
            .logo-lifeform {
                background-image: url("../images/logo_animated.gif");
                .logo_icon{ height: 39px; }

            } 
            .logo-type {
                display: flex;
            }
            .logo_img {
                width: 60px;
            }
        }
        
        .nav__level1 {
            .nav__mainnav {
                .nav__primary .nav-item {
                    padding-right: 0px;
                }
            }
        } 
        /* add menu here */

        .nav__mainnav {
            width: 100%;
            height: 80px;
            position: fixed;
            left: 0;
            padding: 0 20px;
        }
        
        .nav__level1 .nav__mainnav .nav__primary.is-open { height: 100vh; position: absolute; top: 0; padding: 80px 0 0px 0;
            background: #11AAFF url("../images/background_mobile.png");
            // background-image: linear-gradient(to right, #11AAFF , #11AAFF);
            background-size: cover; visibility: visible;
            animation-name: fadeIn; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;

            ul.nav-items { 
                display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; height: 100%; padding: 0 0 50px 0;
                
                .nav-item{ margin: 0 0 10px 0;
                    .nav-link {
                        height: 100%; padding: 10px 30px 10px 25px; display: inline-block !important; color: #fff; border: none;
                        visibility: visible; animation-name: fadeInUp; -webkit-animation-duration:1.5s; animation-duration: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
                      

                    &:hover:before {
                        content: "";
                        -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF; 
                        box-shadow: 0px 0px 55px 9px #FFFFFF;
                        position: absolute;
                        height: 0px;   
                        width: 65%;
                        top: 24px;
                        left: 18px
                    }  
                    }
                 

                    .nav-link.nav-link--active:before {
                        content: "";
                        -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF; 
                        box-shadow: 0px 0px 55px 9px #FFFFFF;
                        position: absolute;
                        height: 0px;
                        width: 65%;
                        top: 25px;
                        left: 18px;

                      
                     }

                     .nav-link.nav-link--active {
                         
                        .text-underline::before { background-color: transparent!important; }
                    }
                }
            }
            
        }
    }

    .main_div{ margin: 80px 0 0 0; }

    .banner-container {
        background-position: 50% 50%; height: 330px;
        .video-background video { position: absolute; top: 50%; left: 10%; width: auto; height: 400px; z-index: -100; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-size: cover; -webkit-transition: 1s opacity; transition: 1s opacity; }
        .video-background{width:100%;}
        .banner-blk-div { 
            width: 100%; top:0; height: 100%; left:0;
            .blu-heart-icon-div {
                float: none; left: 0; margin: 0 auto; text-align: center;top:40px;
                img { width: 40%;}
            }
            .banner-caption-blk-div { 
                position: absolute; bottom:-20px; width: 100%; float: none;
                .box-round-1-div {
                    width: 90%; height: auto; line-height: normal; float: none; margin: 0 auto; text-align: center;
                    h1{ font-size: 40px; line-height: normal; padding: 20px; }
                    &:before, &:after { left: 45%; top: 1px;transform: rotate(270deg); margin-top: -21px;border-width: 10px; }
                    &:after { margin-top: -19px; border-width: 10px;    border-left-color: rgba(255, 255, 255, 0.7);  }
                }
            }
        }
        .banner-path { 
            width: 100%; left:0; right: auto;overflow: hidden;
            img { width: 550px; left: -140px !important; }
        }
        
    }

    .box-round-2-div { display: none; }

    .communicate-blu-container {
        padding: 60px 0 0px 0;background-position: bottom center;height: 100%;background-size: 100% 50%;
        h2{ font-size: 28px; width: 70%; margin: 0 auto 30px auto; }
        .communicate-txt-div { padding: 0px 0px;margin:0 0 40px 0; }
        .content-img {
            top: 80px;width: 100%;position: relative; margin: -70px 0 0 0;
            img { width: 100%; }
        }
    }

    .blu-help-section {
        .blu-help-div { 
            padding: 120px 0 0px 0;
            .heading { h2{ font-size: 28px; width: 70%; margin: 0 auto 30px auto; } }
    
            .blu-help-card-div{ 
                .feature-box {   
                    margin-bottom: 10px;
                    a.fb-box-link { 
                        max-height:197px; 
                        h3 { font-size: 24px; line-height: 48px; }
                        .div-content { height: 197px; padding-bottom: 20px; max-height: 197px; }
                        &:hover { transform: scale(1.03); }
                    }
                }
            }
    
        }
    }

    .blu-teams-section {
        .blu-teams-div {
            padding: 60px 0 60px 0;
            h2 { color: #fff; text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
        
            .point-steps-list { width: 95%;padding:10px 0 0 0;
                p { font-size: 18px; 
                    span { font-size: 24px; height: 40px; width: 40px;line-height: 34px; }
                }
        
            }
        }
    }
    
    .profile-section {
        .profile-div{
            padding: 0px 0;background-color: $bg-light-green; 
            .profile-left { display: none; }
            .profile-right { 
                float: none; width: 100%; right: auto; margin-top: 60px;padding: 0px; border-radius:0px;
                .profile-content { text-align: center;
                    h2 { font-size: 28px;font-size: 28px; width: 70%; margin: 0 auto 10px auto; }
                    form {
                        .border-box { 
                            padding: 20px 0px 10px 0px; 
                           .color-picker { display: block; height: 100%; width: 100%; margin: 0 0 20px 0; }
                        }   
                    }
    
                    .img-baby { margin-top: 0; height: 100%;display: flex; justify-content: flex-end; align-content: flex-end;flex-direction: column; }
                    .img-baby img {width: 50px;float: left; }
                    .img-student{
                        margin-top: 0; height: 100%;display: flex; justify-content: flex-end; align-content: flex-end;flex-direction: column;
                        img {width: 88px;}
                    }
                    .img-nerd{
                        margin-top: 0; height: 100%;display: flex; justify-content: flex-end; align-content: flex-end;flex-direction: column;
                        img {width: 88px;}
                    }
    
                }
    
            }
        }
    }

    /* inner html */
    
    .chatbot-concept-section {
        .chatbot-concept-div{
            padding: 60px 0 10px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .concept-row{ padding: 0 0 50px 0; }
            .cc_content_img{
                .img_thumb_div{ margin: 0 auto; text-align: center;
                    .img-responsive{ width: 80%;}
                }
            }

        }
    }

    .mb-framework-section {
        .mb-framework-div{
            padding: 60px 0 40px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .mbf-detail-listbox{ 
                padding: 0;margin: 0; 
                ul{ 
                    padding: 0 0px 0 0!important;margin: 0;
                }
            }
        }
    }

    .hl-architecture-section {
        .hl-architecture-div{
            padding: 60px 0 40px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }

            .btn-round { padding: 0px 0px;font-size: 8px;line-height: 20px; }
            
            .left-architecture-div{ padding: 0 0 50px 0;
                .top-left-div{ margin: 0 0 -15px 0; width: 55%;}
                .bottom-left-div{ margin: -15px 0 0 0; width: 55%; }
            }
    
            .middle-architecture-div{ padding: 0 0 50px 0;
                .middle-img-thumb{ 
                    img.img-responsive{ width: 50%; }
                    .span-arrow{ img{ width: 15px; } }
                    .span-arrow-left{ left:10px; }
                    .span-arrow-right{ right: 10px; }
                }
            }
    
            .right-architecture-div{ padding: 0 0 50px 0;
                .middle-img-thumb{ width: 100%;
                    .btn-round{ text-align: right;width: 100%;padding: 0 7px; }
                }
            }
            .bottom_title_div{  .title_bottom{ font-size: 11px; } }

        }
    } 

    .luis-section {
        .luis-div{
            padding: 60px 0 0px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .luis-img{  
                margin:0;line-height: 0px;
                .img-responsive{ border-radius: 0px; }
            }
            .luis-detailbox-right { padding: 39px 24px 45px 24px; margin: 0 -24px; background-color: #1781E3; border-radius: 0px; }
        }
    }

    /* contact us */

    .feedback-section {
        .feedback-div{
            padding: 60px 0 60px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .feedback-detailbox{ padding: 0 0% 0 0; }
        }
    }

    .team-section {
        .team-div{
            padding: 60px 0 60px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .team-img-div{ margin: 0 -24px; }
        }
    }  

    .contact-section {
        .contact-div{
            padding: 60px 0 60px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 20px auto; }
        }
    }  


    /* End of contact us */
    
    /* end of inner html */


}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   
    .nav{ 
        .logo { margin-left: 4px; margin-right: 70px; margin-top: 22px; } 
    }
    .profile-section{ 
        .profile-right{ padding: 40px 25px; }
    }   


    
    .major-wrapper{ overflow-y: hidden; }

    .container { width: auto !important; }

    .nav {
        position: fixed;top: 0;width: 100%;
        
        .nav__level1 {
            .nav__mainnav {
                .nav__primary .nav-item {
                    padding-right: 30px;
                }
            }
        } 

        /* add menu here */
        
        
    }

    .banner-container {
        .video-background {width:100%;}
        .video-background video { left: 60%; height: 400px; }
        .banner-blk-div 
        {
            width: 100%; left:0;
            
            .banner-caption-blk-div { width: 65%; }
            .blu-heart-icon-div {
                left: 40px;
                img{
                    width: 175px;
                }
            }
        }

        .banner-path { 
            width: 100%; left:0; right: auto;overflow: hidden;
            img { width: 860px; left: -90px !important; }
        }
        
    }

    .main_div{ margin: 80px 0 0 0; }

    .communicate-blu-container {
        
        .communicate-txt-div { padding: 0px 12px;margin:0 0 40px 0; }
        .content-img {
            top: 00px;width: 100%;position: relative; margin: 0px 0 0 0;
            img { width: 100%; }
        }
    }

    .blu-help-section {
        .blu-help-div { 
            padding: 100px 0 100px 0;
            .heading { h2{ margin: 0 auto 60px auto; } }
    
            .blu-help-card-div{ 
                padding: 0 12px;
                .feature-box {   
                    margin-bottom: 10px;
                    a.fb-box-link { h3 { font-size: 24px; line-height: 48px; } }
                }
            }
    
        }
    }

    .blu-teams-section {
        .blu-teams-div {
            padding: 100px 0 100px 0;

            h2 { margin: 0 auto 50px auto; }
        
            .point-steps-list { width: 70%;padding:10px 0 0 0;
              
            }
        }
    }
    
    .profile-section {
        .profile-div{
            padding: 0px 12px;background-color: $bg-light-green; 
            .profile-left { display: none; }
            .profile-right { 
                float: none; width: 100%; right: auto; margin-top: 80px;padding: 0px; border-radius:0px; 
                .profile-content h2{ margin: 0 0 30px 0; }
            }
        }
    }

    /* inner html */    
    
    .chatbot-concept-section {
        .chatbot-concept-div{ 
            padding-left: 12px; padding-right: 12px;
        }
    }

    .mb-framework-section {
        .mb-framework-div{
            padding-left: 12px; padding-right: 12px;
            .mbf-detail-listbox{ 
                padding: 0;margin: 0; 
                ul{ 
                    padding: 0 0% 0 0!important;margin: 0; 
                }
            }
        }
    }

    .hl-architecture-section {
        .hl-architecture-div{
            padding-left: 12px; padding-right: 12px;
            .btn-round { padding: 2px 10px;font-size: 13px;line-height: 28px; }
            .left-architecture-div{ padding: 0 0 80px 0;
                .top-left-div{ margin: 0 0 -20px 0; width: 50%;}
                .bottom-left-div{ margin: -20px 0 0 0; width: 50%; }
            }
    
            .middle-architecture-div{ padding: 0 0 80px 0;
                .middle-img-thumb{ 
                    img.img-responsive{ width: 60%; }
                    .span-arrow{ img{ width: 30px; } }
                    .span-arrow-left{ left:15px; }
                    .span-arrow-right{ right: 15px; }
                }
            }
    
            .right-architecture-div{ padding: 0 0 80px 0;
                .middle-img-thumb{ width: 100%;}
            }
            .bottom_title_div{  .title_bottom{ font-size: 24px; } }

        }
    } 

    .luis-section {
        .luis-div{
            padding-left: 12px; padding-right: 12px;
            .luis-detailbox-right{ padding: 45px 20px 45px 20px; }
        }
    }

     /* contact us */

     .feedback-section {
        .feedback-div{
            padding-left: 12px; padding-right: 12px;
        }
    }

    .team-section {
        .team-div{
            padding-left: 12px; padding-right: 12px;
        }
    }  

    .contact-section {
        .contact-div{
            padding-left: 12px; padding-right: 12px;
        }
    }  


    /* End of contact us */


    /* end of inner html */

}

@media only screen and (min-width: 1024px) and (max-width:1366px) {
    
    .container{  width: 976px !important; }
    .banner-container {
        .banner-blk-div { 
            top: 80px; 
            .banner-caption-blk-div { width: 60%; }
        }
        .banner-path { overflow: hidden; }
        
    }

}

@media only screen and (min-width: 1025px) and (max-width:1290px) {
    
    .banner-container {
        .banner-blk-div { top: 80px;
            .banner-caption-blk-div { width: 50%; }
         }
        .banner-path { overflow: hidden; }
    }

}

@media only screen and (min-width: 375px) and (max-width:812px) {

}
@media only screen and (min-width: 320px) and (max-width:568px) {

}
@media only screen and (min-width: 320px) and (max-width:480px) {

}

@keyframes slideInDown10 {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 0px;
      top: -100px;
    }
    100% {
      left: 0px;
      top: 0;
    }
  }
  .slideInDown10 {
    animation-name: slideInDown10;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5.25s !important;
  }
 

  /*

@-webkit-keyframes slideInDown10 {
    from {
        top:-50px;
        transition: top 50s ease-in-out;
    }

    to {
        top:0;
        transition: top 50s ease-in-out;
    }
  }
  
  @keyframes slideInDown10 {
    from {
      top:-50px;
      transition: top 150s ease-in-out;
    }
  
    to {
      top:0;
      transition: top 150s ease-in-out;
    }
  }
  
  .slideInDown10 {
    -webkit-animation: slideInDown10 170s infinite linear; 
     animation: slideInDown10 170s infinite linear;    
  } */
  